.main-header {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-header .hamburger-lines {
    display: none;
}

.main-header .hamburger-lines .line {
    display: none;
}

.main-header .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}

.main-header .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
}

.main-header .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}

.main-header nav {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.main-header nav a {
    text-decoration: none;
    color: #0f437f;
    font-family: 'Montserrat';
    
}

.main-header nav a:not(:last-child) {
    margin-right: 6%;
}

.main-header nav a:hover {
    color: #ff8e38;
    transition: 0.3s;
}

@media (max-width: 768px) {

    /* For mobile phones: */
    .main-header {
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 2%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .main-header nav a {
        text-decoration: none;
        color: #0f437f;
        font-size: 35px;
    }

    .main-header.responsive {
        flex-direction: column;
        padding-top: 0;
    }

    .main-header .hamburger-lines {
        display: flex;
        height: 26px;
        width: 32px;
        position: absolute;
        right: 5%;
        top: 2.5%;
        z-index: 2;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
    }

    .main-header .hamburger-lines.responsive {
        display: flex;
        height: 26px;
        width: 32px;
        position: absolute;
        right: 5%;
        top: 2.5%;
        z-index: 2;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
    }

    .main-header .hamburger-lines .line {
        display: flex;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #0f437f;
    }

    .main-header .hamburger-lines .line.responsive {
        display: flex;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: white;
    }

    .main-header nav {
        display: none;
    }

    .main-header nav.responsive {
        display: flex;
        position: fixed;
        flex-direction: column;
        background-color: #0f437f;
        height: 100%;
        width: 100%;
        z-index: 1;
        align-items: center;
        justify-content: center;
        animation-name: menu;
        animation-duration: 0.5s;
    }

    @keyframes menu {
        0% {
            transform: translateY(-100%);
            width: 30%;
            right: 0%;
        }

        100% {
            transform: translateY(0);
            width: 100%;
            right: 0;
        }
    }

    .main-header nav a:not(:last-child) {
        margin-right: 0%;
        margin-bottom: 3%;
    }

    .main-header nav a {
        color: white;
    }

    .main-header .logo {
        visibility: hidden;
    }

    .hamburger-lines.responsive span:nth-child(1) {
        transform: rotate(45deg);
    }

    .hamburger-lines.responsive span:nth-child(2) {
        opacity: 0;
    }

    .hamburger-lines.responsive span:nth-child(3) {
        transform: rotate(-45deg);
    }
}

@media (min-width: 769px) and (max-width: 1024px) {

    .main-header {
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 2%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .main-header nav a {
        text-decoration: none;
        color: #0f437f;
        font-size: 16px;
    }
}