.info-card-box-2 {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    border-radius: 45px;
    cursor:pointer;
    transition: all .3s ease-in-out;
}

.info-card-box-2:hover{
    transform: translateY(-20px);
}


.info-card-box-2 img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-top-right-radius: 45px;
    border-top-left-radius: 45px;
}

.info-card-box-2 .bottom-box{
    padding: 8%;
}

.info-card-box-2 h4 {
    font-family: Newsreader, serif;
    font-weight: 600;
    color: #0f437f;
    font-size:24px
}

.info-card-box-2 p {
    font-weight: 500;
    color: rgb(98, 119, 143);;
}

@media (max-width:768px) {

    .info-card-box {
        margin-bottom: 50px;
    }

    .info-card-box-2 img{
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-top-right-radius: 45px;
        border-top-left-radius: 45px;
    }
}

@media (min-width: 769px) and (max-width: 1740px) {

    .info-card-box {
        margin-bottom: 50px;
    }
    .info-card-box-2 img{
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-top-right-radius: 45px;
        border-top-left-radius: 45px;
    }
    
}